/* NavBar.css */

/* 아래 부분을 추가합니다. */
.navbar-container {
  position: fixed;
  top: 0;
  right: 0; /* 오른쪽으로 배치 */
  z-index: 999;
  background-color: transparent;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 오른쪽으로 정렬 */
  width: 28%;
  height: auto;
  background-color: #fff5e4;
  border: 3px solid #fff5e4;
  border-radius: 14px;
}


.user-icon {
  background-color: #ffffff00;
  border-radius: 50%;
  margin-right: 8px;
  width: 23%;
  height: 10%;
}

.user-nickname {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #fff5e4;
  border-radius: 16px;
  padding: 4px 12px;
  width: auto;
}

.nick {
  margin-right: 8px;
}

.currentYum {
  width: 50%;
  height: auto;
}

/* NavBar 컴포넌트 스타일링 */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.back-button img {
  width: 48px;
  height: 48px;
}

.back-button i {
  font-size: 24px;
  color: #333;
}

/* 미디어 쿼리 추가 */
/* 미디어 쿼리 추가 */
@media (max-width: 576px) {
  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 우측 정렬로 변경 */
    justify-content: center; /* 세로 가운데 정렬 */
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0;
  }
  .user-icon {
    width: 20px;
    height: 20px;
    margin-right: 0;
    margin-bottom: 4px;
  }

  .user-nickname {
    font-size: 16px;
    border-radius: 6px;
    padding: 10px;
    width: auto;
    text-align: center;
  }
}


