.custom-kakao-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffeb00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  }
  
  .custom-kakao-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #ffd000;
  }
  
  .custom-kakao-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .custom-kakao-button span {
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }
  