.item {
  color: black;
  background: #eef3d0;
  border: 2px solid #d8e548;
  margin: 10px 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;

  display: flex;
  align-items: center;
  width: 280px;
}

.item-yum {
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 5px;
}

.item-name {
  width: 55%;
  text-align: start;
  margin: 5px;
  font-size: larger;
  font-weight: bold;
}

.item-name span {
  font-size: small;
  font-weight: normal;
  margin-left: 1rem;
}

.lock-icon {
  width: 30px;
  margin: 5px 15px;
}
