.cloud {
  position: absolute;
  top: 20%;
  left: -100px;
  width: 150px;
  height: auto;
  animation: floatCloud 15s linear infinite;
  z-index: 0.2;
}
.cloud_2 {
  position: absolute;
  top: 40%; /* Update the top value to place it slightly below the first cloud */
  right: 0px; /* Start the second cloud from the right side */
  width: 150px;
  height: auto;
  animation: floatCloud_2 16s linear infinite;
  z-index: 0.2;
}

.cloud-container {
  overflow: hidden;
}

@keyframes floatCloud {
  0% {
    transform: translateX(50%) translateY(0);
  }
  50% {
    transform: translateX(calc(400%)) translateY(0);
  }
  100% {
    transform: translateX(calc(800%)) translateY(0);
  }
}




/* 반응형 미디어 쿼리 */
@media (max-width: 768px) {
  .cloud {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .cloud {
    width: 60px;
  }
}
