/* 도넛 형태의 그라디언트 색상 버튼 스타일 */
.button {
  background-image: url('../../../assets/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  width: 80px; /* 버튼의 너비를 임의로 조정해주세요 */
  height: auto; /* 버튼의 높이를 임의로 조정해주세요 */
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 800;
  /* color: #5C3F3D; */
  color: #ffffff;
  text-transform: uppercase;
  padding: 2rem 2rem;
  /* background: rgba(208, 233, 212, 0.9); */
  /* border: 2px solid #A2DAE1; */
  border-radius: 20px; /* 둥근 모서리의 반지름 값을 조정해주세요 */
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  margin: 5px 0;
  /* box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.4); */
}



@media (max-width: 600px) {
  .button {
    width: 90%;
    height: auto;
    margin: 15px 0;
  }
}
