.user-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 오른쪽으로 정렬 */
  width: 28%;
  height: auto;
  background-color: #fff5e4;
  border: 3px solid #fff5e4;
  border-radius: 14px;
}
.user-nickname {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #fff5e4;
  border-radius: 16px;
  padding: 4px 12px;
  width: auto;
}

.user-nickname {
  font-size: 16px;
  border-radius: 6px;
  padding: 10px;
  width: auto;
  text-align: center;
}
