/* Ensure parent elements have a height of 100% */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Vertically center content within .jumbotron */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%; /* 변경된 높이 값 */
  z-index: 3;
}
