.game-clear-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-image: url("../../assets/gameclearback.gif");
  background-size: cover;
}
.like {
  font-size: 2rem;
  padding: 1.5rem 2rem;
}
