.gamelogo {
  max-width: 70%;
  height: auto;
  animation: bounce 2s infinite; /* bounce 애니메이션을 2초마다 무한 반복 적용 */
  margin-bottom: 20vh;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
