.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  bottom: 1%;
  transform: translateX(-50%);
  background: #ffffff00;
  width: 80%;
  height: 15%;
  border-radius: 10px;
  z-index: 10;
  /* border: 2px solid red; */
}

.main-container {
  background-size: cover;
  background-image: url("../../assets/seaBack.jpg");
}

.button-wrapper {
  margin: 10px; /* 버튼들 간격 조절 */
}
/* Media queries for responsiveness */

.RemainMeal {
  position: absolute;
  top: 2%; /* 상단 위치 설정 */
  right: 15%; /* 우측 위치 설정 */
  color: #000;
  z-index: 100; /* 다른 요소들 위에 위치시키기 위한 z-index 값 */
}

.settings-container {
  margin-top: 7vh;
}

.btnIcon {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 5vh; /* 아이콘을 아래쪽으로 조절 */
  left: 43%; /* 아이콘을 왼쪽으로 조절 */
}

.btnicon {
  width: 12vw;
}
.game-button {
  transition: all 0.5s ease-out;
  opacity: 1;
  transform: translateX(0);
}

.game-button.hide {
  transform: translateY(200%);
}

.ani1 {
  width: 25%;
  left: 70%;
  bottom: 44%;
}
.ani2 {
  width: 25%;
  left: 10%;
  top: 38%;
}

.ani3 {
  width: 12.5%;
  left: 31%;
  top: 11%;
}
.ani4 {
  width: 30%;
  left: 20%;
  bottom: 45%;
}
.ani5 {
  width: 23%;
  left: 60%;
  bottom: 20%;
}
.ani6 {
  width: 27%;
  left: 7%;
  bottom: 25%;
}
.ani7 {
  width: 30%;
  left: 59%;
  bottom: 77%;
}
.ani8 {
  width: 30%;
  left: 38%;
  bottom: 80%;
  transform: scaleX(-1);
}
