/* 기본 이미지 스타일 */
.myYum-image,
.friendYum-image {
  position: absolute;
  z-index: 999;
  width: 12%; /* 이미지 크기(너비)를 조정하려 이 값을 변경하세요. */
  height: auto; /* 이미지 크기(높이)를 조정하려면 이 값을 변경하세요. */
  object-fit: cover; /* 이미지를 크기와 비율에 맞게 조절합니다. */
}

/* 웹에서의 위치 */
.myYum-image {
  top: 50%; /* 위치(상하)를 조정하려면 이 값을 변경하세요. */
  left: 7%; /* 위치(좌우)를 조정하려면 이 값을 변경하세요. */
}

.friendYum-image {
  top: 60%; /* 위치(상하)를 조정하려면 이 값을 변경하세요. */
  left: 13%; /* 위치(좌우)를 조정하려면 이 값을 변경하세요. */
}

/* 모바일에서의 위치 */
@media (max-width: 768px) {
  .myYum-image {
    top: 30%; /* 모바일 화면에서의 위치 조정 */
    left: 5%; /* 모바일 화면에서의 위치 조정 */
  }

  .friendYum-image {
    top: 40%; /* 모바일 화면에서의 위치 조정 */
    left: 10%; /* 모바일 화면에서의 위치 조정 */
  }
}
