/* ./styles/SinglePlayPage.css */

/* 전체 프로필 페이지 컨테이너 */
/* .Animation {
  background-image: url("../../assets/multiback.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 40%;
  width: 100%;
  height: 20%;
} */
