/* ./styles/SinglePlayPage.css */

/* 전체 프로필 페이지 컨테이너 */
.overlay-image {
  z-index: 5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  transform: translateZ(0);
  animation: none; /* 애니메이션을 제거합니다 */
}
.single-play-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh; /* 화면 높이 전체로 설정 */
  position: relative; /* 추가 */
}
.images-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.images {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
/* 모바일 화면에 대한 미디어 쿼리 */
@media screen and (max-width: 768px) {
  .effects-image {
    animation-duration: 3s; /* 모바일 화면에서의 애니메이션 속도 조정 */
  }
}

.ours-image {
  z-index: 99;
  position: fixed;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 30%;
  height: auto;
  /* animation: moveEffectBetweenImages 1.5s infinite; */
}

.others-image {
  z-index: 99;
  position: fixed;
  bottom: 3%;
  right: 0;
  width: 30%;
  height: auto;
}

.effects-image {
  z-index: 99;
  position: fixed;
  bottom: 3%;
  left: 0;
  width: 30%;
  height: auto;
  animation: moveEffectBetweenImages 1.5s 1; /* forwards 추가 */
}

@keyframes moveEffectBetweenImages {
  0% {
    transform: translateX(35%);
  }
  100% {
    transform: translateX(
      calc(100vw - 150%)
    ); /* 화면 너비 - 요소 너비만큼 오른쪽으로 이동 */
  }
}
@keyframes moveEffectBetweenImages2 {
  0% {
    transform: translateX(0); /* 오른쪽 끝부터 시작 */
  }
  100% {
    transform: translateX(-70vw); /* 왼쪽으로 요소 너비만큼 이동 */
  }
}

.others-Effects{
  z-index: 99;
  position: fixed;
  bottom: 5%;
  right: 0;
  width: 20%;
  height: auto;
  animation: moveEffectBetweenImages2 1.5s 1;

}

.small-image {
  width: 100px;
  height: auto;
}

.progress-bar {
  z-index: 99;
  position: fixed;
  right: 0;
  width: 30% !important;
  height: auto;
  bottom: 30%;
}

/* 웹 화면에 대한 미디어 쿼리 */

/* 모바일 화면에 대한 미디어 쿼리 */
/* 모바일 화면 크기가 320px 미만인 경우 */
@media screen and (max-width: 319px) {
  .progress-bar {
    bottom: 15%;
    width: 90%;
  }
}

/* 모바일 화면 크기가 321px에서 768px 사이인 경우 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .progress-bar {
    bottom: 25%;
    width: 70%;
  }
}

.hidden {
  display: none;
}

.gamestage-container {
  position: absolute;
  z-index: 98;
  top: 60%;
  left: 5%;
  width: 100%;
}
