/* ./styles/SinglePlayPage.css */

/* 전체 프로필 페이지 컨테이너 */
.single-play-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh; /* 화면 높이 전체로 설정 */
  position: relative; /* 추가 */
}
<<<<<<< HEAD

/* 프로필 사진 스타일 */
/* ... (이전에 작성한 프로필 사진 스타일) ... */

/* 게시물, 팔로우, 팔로워 정보 스타일 */
/* ... (이전에 작성한 정보 스타일) ... */

/* 미니 도감 스타일 */
/* ... (이전에 작성한 미니 도감 스타일) ... */

/* 반응형 이미지 스타일 */
.silge-play-footer-back {
  width: 100%; /* 이미지 너비를 100%로 설정하여 부모 요소의 너비에 맞게 조정 */
  height: auto; /* 이미지 높이를 자동으로 조정하여 비율 유지 */
  position: absolute; /* 요소를 절대 위치로 설정 */
  bottom: 0; /* 아래쪽에 위치 */
  left: 0; /* 왼쪽에 위치 */
  z-index: 1; /* 다른 요소들보다 위에 표시되도록 설정 */
=======
.images-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.images {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
>>>>>>> 9d70f7e639a6f2f6d484a65906fb0e114b91ba9e
}
/* 모바일 화면에 대한 미디어 쿼리 */
@media screen and (max-width: 768px) {
<<<<<<< HEAD
  .background-image-container {
    height: 20vh; /* 모바일 화면에서 높이를 화면 높이의 20%로 조정 */
  }

  .silge-play-footer-back {
    width: 100%; /* 이미지 너비를 100%로 설정하여 부모 요소의 너비에 맞게 조정 */
    height: auto; /* 이미지 높이를 자동으로 조정하여 비율 유지 */
=======
  .effects-image {
    animation-duration: 3s; /* 모바일 화면에서의 애니메이션 속도 조정 */
>>>>>>> 9d70f7e639a6f2f6d484a65906fb0e114b91ba9e
  }
}

.overlay-image {
<<<<<<< HEAD
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; */
  z-index: 2;
=======
  z-index: 5;
>>>>>>> 9d70f7e639a6f2f6d484a65906fb0e114b91ba9e
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
<<<<<<< HEAD
}
=======
}

.ours-image {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  height: auto;
}

.others-image {
  z-index: 99;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  height: auto;
}
.effects-image {
  z-index: 99;
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 30%;
  height: auto;
  animation: moveEffectBetweenImages 1.5s ease-in-out infinite;
}

@keyframes moveEffectBetweenImages {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(calc(100vw - 100%)); /* 화면 너비 - 요소 너비만큼 오른쪽으로 이동 */
  }
}


.ours-image.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.others-image.hidden {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.small-image {
  width: 100px;
  height: auto;
}
<<<<<<< HEAD
>>>>>>> 9d70f7e639a6f2f6d484a65906fb0e114b91ba9e
=======

.progress-bar {
  z-index: 99;
  position: fixed;
  bottom: 8%;
  /* left: 0; */
  right: 0;
  width: 30% !important;
  height: auto;
}
>>>>>>> c10fbf7dbd37d7d391fdc57850935f545f1ca714
