/* ./styles/SinglePlayPage.css */

/* 전체 프로필 페이지 컨테이너 */
.single-play-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* 스크롤 없애기 */
}

/* 배경 이미지 스타일 */
.background-image-container {
  width: 100%;
  height: 40vh; /* 화면 높이의 40%로 조정 */
  position: relative;
  overflow: hidden;
}

/* 반응형 이미지 스타일 */
.silge-play-footer-back {
  width: 100%; /* 이미지 너비를 100%로 설정하여 부모 요소의 너비에 맞게 조정 */
  height: auto; /* 이미지 높이를 자동으로 조정하여 비율 유지 */
  position: absolute; /* 요소를 절대 위치로 설정 */
  bottom: 0; /* 아래쪽에 위치 */
  left: 0; /* 왼쪽에 위치 */
  z-index: 1; /* 다른 요소들보다 위에 표시되도록 설정 */
}

/* 모바일 화면에 대한 미디어 쿼리 */
@media screen and (max-width: 768px) {
  .background-image-container {
    height: 20vh; /* 모바일 화면에서 높이를 화면 높이의 20%로 조정 */
  }

  .silge-play-footer-back {
    width: 100%; /* 이미지 너비를 100%로 설정하여 부모 요소의 너비에 맞게 조정 */
    height: auto; /* 이미지 높이를 자동으로 조정하여 비율 유지 */
  }

  .effects-image {
    animation-duration: 3s; /* 모바일 화면에서의 애니메이션 속도 조정 */
  }
}

.overlay-image {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
}

.ours-image {
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20%;
  height: 20%;
}

.others-image {
  z-index: 3;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 20%;
  
}
.effects-image {
  z-index: 3;
  position: absolute; /* position을 absolute로 수정 */
  bottom: 20px; /* 적절한 값으로 수정해주세요 */
  left: 0;
  width: 20%;
  height: 20%;
  animation: moveEffectBetweenImages 1.5s ease-in-out infinite;
}


@keyframes moveEffectBetweenImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(390%)); /* 모바일 화면에서의 이동 거리 조정 */
  }
}

.ours-image.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.others-image.hidden {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
